* {
    padding: 0px;
    margin: 0px;
}

header {
    height: 100px;
    text-align: center;
    background-color: aqua; /*カラーの指定をする基本は16進数6桁のカラーコードを使用。なお、3桁の略称版、カラーの単語も可能*/
}

main {
    height: 500px;
    text-align: center;
    background-color: yellow;
}

footer {
    height: 100px;
    background-color: gray;
}